@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<div class="row my-2">
    <div class="col-12 col-md-12 col-lg-4">
        <h1 class="text-center">Iniciativa Saúde da Cidade</h1>
        <p>
            Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at
            vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        <p>
            Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at
            vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
    </div>

    <div class="col-12 col-md-12 col-lg-8 text-center">
        <img src="/imagens/dna.jpg" alt="" class="img-fluid" style="max-width:540px;">
    </div>
</div>

<div class="row my-2">
    <div class="col-12 col-md-12 col-lg-4 border border-primary rounded py-2 my-2 bg-light">
        <div id="form">
            <h2>Entre em contato!</h2>
            <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

            <form action="/Home/Cadastrar" method="POST" id="formCadastro" name="form">
                <div class="form-group row">
                    <label asp-for="Nome" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input asp-for="Nome" id="nome" type="text" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" id="email" type="email" class="form-control" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Mensagem" class="col-sm-2 col-form-label">Mensagem (opcional):</label>
                    <div class="col-sm-10"></div>
                    <textarea asp-for="Mensagem" class="form-control" id="mensagem"></textarea>
                </div>
                <div>
                    <input type="submit" value="Enviar" id="btnEnviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-8 d-flex align-items-center">
        <div class="row">
            <div class="col-12 col-lg-4 text-center">
                <img src="/imagens/agenda.jpg" alt="Agenda" class="img-fluid" style="max-width:200px;">
                <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                    data-target="#Agenda">Agenda</button>
            </div>

            <div class="col-12 col-lg-4 text-center">
                <img src="/imagens/saude.jpg" alt="Dicas" class="img-fluid" style="max-width:200px;">
                <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                    data-target="#Dicas">Dicas de vida saudável</button>
            </div>

            <div class="col-12 col-lg-4 text-center">
                <img src="/imagens/apoio.png" alt="Apoiadores" class="img-fluid" style="max-width:200px;">
                <button type="button" class="btn btn-primary mt-2 " data-toggle="modal"
                    data-target="#Apoiadores">Apoiadores</button>
            </div>
        </div>
    </div>
</div>

@*------ Modal Agenda ------*@
<div class="modal fade" id="Agenda" tabindex="-1" aria-labelledby="modalAgendaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Agenda</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h3 class="text-center">10/10/10 10:10 - Evento 1</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
                <h3 class="text-center">10/10/10 11:10 - Evento 2</h3>
                <p class="mb-5">LLorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
                <h3 class="text-center">10/10/10 12:10 - Evento 3</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
            </div>
        </div>
    </div>
</div>

@*------ Modal Dicas ------*@
<div class="modal fade" id="Dicas" tabindex="-1" aria-labelledby="modalDicasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Dicas de vida saudável</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>
            </div>
        </div>
    </div>
</div>

@*------ Modal Apoiadores ------*@
<div class="modal fade" id="Apoiadores" tabindex="-1" aria-labelledby="modalApoiadoresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Apoiadores</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3 pl-3" style="max-width:340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/lanchonete.jpg" class="img-fluid rounded-start" alt="Lanchonete">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Lanches naturais</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/confeitaria.jpg" class="img-fluid rounded-start" alt="Confeitaria">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Confeitaria Light & Diet</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/naturais.jpg" class="img-fluid rounded-start" alt="Produtos Naturais">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Produtos Naturais</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 pl-3" style="max-width: 340px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/imagens/vegano.jpg" class="img-fluid rounded-start" alt="Produtos Veganos">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Produtos Veganos</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
